<style>
  .profile-btn{
    cursor: pointer;
    height: 30px;
  }
  li{
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 5px;
  }
</style>
<li>
  <p>Name:  <a href="/users/{{id}}"><button class="profile-btn"> View {{ username}} Profile</button></a></p>
    <p>Password : {{password}}</p>
  {{!-- <p>{{format_date createdAt}}</p>
  <p>{{format_date updatedAt}}</p> --}}
</li>